#edit {
    background: #565c59;
}
#tab_ievads {
    background: #bcffcd;
    color: #370310;
    font-family: Calibri;
    font-size: 14px;
}
#tab_title {
    color: #31d1ff;
    font-family: Calibri;
    font-size: 14px;
}

#tabula_parkl {
    width:100%;

}
#tabula_title {
    width:100%;
    border: solid 1px black;
}
#tabula_list {
    width:100%;
    border: solid 1px #565c59;

}
#tab_list {
    color: #565c59;
    font-family: Calibri;
    font-size: 14px;

}
#t_kol1 {
    width:10%;
    border: solid 1px black;
}
#t_kol2 {
    width:70%;
    border: solid 1px black;
}
#t_kol3 {
    width:10%;
    border: solid 1px black;
}
#alert {
    background: #f1a899;
    color: #731d09;
}